/* Global */
@font-face {
    font-family:"technology-icons";
    src:url("../fonts/technology-icons.eot");
    font-weight:normal;
    font-style:normal;
}@font-face {
	font-family:"technology-icons";
	src:url("../fonts/technology-icons.eot");
	src:url("../fonts/technology-icons.eot?#iefix") format("embedded-opentype"),
		url("../fonts/technology-icons.woff") format("woff"),
		url("../fonts/technology-icons.ttf") format("truetype"),
		url("../fonts/technology-icons.svg?#technology-icons") format("svg");
	font-weight:normal;
	font-style:normal;
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #edd263;
  border: 0px none #fff; 
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #edd263;
  cursor: pointer; 
}
::-webkit-scrollbar-thumb:active {
  background: #ccc; 
}
::-webkit-scrollbar-track {
  background: #999; 
  border: 0px none #fff; 
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #999;
}
::-webkit-scrollbar-track:active {
  background: #999; 
}
::-webkit-scrollbar-corner {
  background: transparent;
}
* { box-sizing: border-box; }
html {
    background: url('/themes/default/bgtile.png') fixed;
}
html, body { height: 100%; }
body {
    font-family: 'Ubuntu', sans-serif; 
    color: #666;
    margin-left: 340px; 
    margin-top: 0; 
    margin-right: 80px;
    margin-bottom: 0;
    padding-top: 80px;
}

.blogfrog-topborder {
    border-top: 6px solid #b0e9b0;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%; 
}

/* Text styles */
a {
    text-decoration: none; 
    color: inherit; 
}

/* Sidebar (desktop) */
.blogfrog-sidebar {
    display: block; 
    position: fixed; 
    top: 240px; 
    left: 80px; 
    width: 200px; 
    text-align: center;
    text-transform: lowercase;
    background-color: #fff;
    border: 2px solid #eee;
    border-radius: 10px;
    padding: 5px; 
}
.blogfrog-sidebar > h1 {
    font-size: 1.3em;
    margin-bottom: 30px; 
}
.blogfrog-sidebar > a {
    display: block; 
    width: 100%; 
    margin-bottom: 20px; 
    text-align: center; 
    font-size: 0.9em; 
    -webkit-transition: letter-spacing 0.2s; 
    -moz-transition: letter-spacing 0.2s; 
    -o-transition: letter-spacing 0.2s; 
    transition: letter-spacing 0.2s; 
}
.blogfrog-sidebar > a:hover {
    cursor: pointer; 
    letter-spacing: 0.2em; 
    -webkit-transition: letter-spacing 0.2s; 
    -moz-transition: letter-spacing 0.2s; 
    -o-transition: letter-spacing 0.2s; 
    transition: letter-spacing 0.2s; 
}
.blogfrog-sidebar > .logo > img {
    width: 66%; 
    opacity: 0.7; 

    -webkit-transition: width 0.2s, opacity 0.2s; 
    -moz-transition: width 0.2s, opacity 0.2s; 
    -o-transition: width 0.2s, opacity 0.2s; 
    transition: width 0.2s, opacity 0.2s; 
}
.blogfrog-sidebar > .logo:hover > img {
    cursor: pointer; 

    width: 70%; 
    opacity: 1.0; 

    -webkit-transition: width 0.2s, opacity 0.2s; 
    -moz-transition: width 0.2s, opacity 0.2s; 
    -o-transition: width 0.2s, opacity 0.2s; 
    transition: width 0.2s, opacity 0.2s; 
}
.blogfrog-sidebar > .footer {
    font-style: italic;
    color: #666;
    font-size: 0.8em;
    display: none; 
}

/* Top Navbar (mobile) */
.blogfrog-navbar {
    display: none;
    width: 100%;
    margin-bottom: 30px;
    vertical-align: middle;
    text-transform: lowercase;
    background-color: #fff; 
}
.blogfrog-navbar .logo {
    width: 50px; 
}
.blogfrog-navbar h1 {
    display: inline-block;
    font-size: 1.25em;
    font-weight: 400; 
}

/* Mobile responsiveness */
@media only screen and (max-width: 900px) {
    body {
        margin: 10px;
        padding-top: 0;
    }
    .blogfrog-sidebar {
        display: none!important; 
    }
    .blogfrog-navbar {
        display: flex;
        flex-wrap: wrap; 
        align-items: center;
        gap: 10px;
    }
}

/* Main content container */
.blogfrog-main {
    position: relative;
    width: 100%; 
    height: 100%; 
}
.blogfrog-main-page {
    display: flex;
    flex-flow: column; 
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid #eee; 
    border-right: 1px solid #eee; 
    box-shadow: 0px 0px 20px #eee;
    border: 1px dashed #b0e9b0;
    background-color: #fff;
    padding: 25px;
    padding-bottom: 0;
    min-height: 100%; 
}
.blogfrog-main article {
    margin-bottom: 50px;
}
.blogfrog-main article:last-child {
    flex-grow: 1;
    margin-bottom: 0; 
}

/* Site footer */
.blogfrog-footer {
    background-color: #ffffff99;
    color: #666;
    border-top: 1px solid #666;
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
    font-size: 0.75em;
    text-transform: lowercase; 
}

/* Post (on home page etc) */
.blogfrog-post-info {
    font-size: 0.9em;
    font-style: italic;
    text-transform: lowercase; 
    text-align: right; 
}
.blogfrog-post-title {
    margin: 0;
    font-size: 2.5em; 
    font-weight: 400;
    text-transform: lowercase;
    background-color: #fcf3d3;
    border-right: 6px solid #b0e9b0;
    border-bottom: 6px solid #b0e9b0;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px; 
    padding-left: 10px; 
}
.blogfrog-post {
    display: flex;
    flex-flow: column; 
}
.blogfrog-post .blogfrog-featured-image {
    display: block; 
    max-width: 80%;
    margin-left: auto;
    margin-right: auto; 
}
.blogfrog-post-content-container {
    border-left: 6px solid #b0e9b0;
    padding: 10px;
    flex-grow: 1; 
}
.max-width-constraint {
    max-width: 680px;
    margin-left: auto;
    margin-right: auto; 
}
.blogfrog-post-content-container hr {
    color: #eee;
    margin-top: 40px;
    margin-bottom: 10px; 
}
.blogfrog-post-content-container a {
    color: #888;
    text-decoration: underline;
}
.blogfrog-post-content-container a:hover {
    color: #b0e9b0;
}

/* Pagination */
.blogfrog-pagination {
    margin-top: 50px; 
    margin-bottom: 50px;
}
.blogfrog-pagination > div {
    border: 1px solid #ffa567;
    border-radius: 10px; 
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    box-shadow: 0 10px 20px #ffd166;
    background-color: #fcf3d3;
}
.blogfrog-pagination nav {
    display: flex;
    justify-content: space-around; 
}
